---
- name: Install NGINX
  apt:
    name: nginx
    state: present
    update_cache: yes
  tags:
    - install

- name: Copy NGINX Configuration File
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/nginx.conf
  notify: Restart NGINX
  tags:
    - configure

- name: Start and Enable NGINX
  systemd:
    name: nginx
    state: started
    enabled: yes
  tags:
    - service
